@mixin dark-hc {
  --md-sys-color-primary: rgb(249 235 255);
  --md-sys-color-surface-tint: rgb(219 185 249);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(215 181 245);
  --md-sys-color-on-primary-container: rgb(21 0 43);
  --md-sys-color-secondary: rgb(249 235 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(204 189 214);
  --md-sys-color-on-secondary-container: rgb(16 8 24);
  --md-sys-color-tertiary: rgb(255 235 236);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(239 179 186);
  --md-sys-color-on-tertiary-container: rgb(30 3 7);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(21 18 24);
  --md-sys-color-on-background: rgb(232 224 232);
  --md-sys-color-surface: rgb(21 18 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(74 69 78);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(247 237 248);
  --md-sys-color-outline-variant: rgb(200 192 202);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(232 224 232);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(87 60 114);
  --md-sys-color-primary-fixed: rgb(240 219 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(219 185 249);
  --md-sys-color-on-primary-fixed-variant: rgb(29 1 55);
  --md-sys-color-secondary-fixed: rgb(237 221 246);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(208 193 218);
  --md-sys-color-on-secondary-fixed-variant: rgb(22 13 30);
  --md-sys-color-tertiary-fixed: rgb(255 217 221);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(243 183 190);
  --md-sys-color-on-tertiary-fixed-variant: rgb(37 6 12);
  --md-sys-color-surface-dim: rgb(21 18 24);
  --md-sys-color-surface-bright: rgb(83 78 85);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(34 30 36);
  --md-sys-color-surface-container: rgb(51 47 53);
  --md-sys-color-surface-container-high: rgb(62 58 64);
  --md-sys-color-surface-container-highest: rgb(74 69 75);
}
