@mixin dark-theme {
  --md-sys-color-primary: rgb(219 185 249);
  --md-sys-color-surface-tint: rgb(219 185 249);
  --md-sys-color-on-primary: rgb(62 36 88);
  --md-sys-color-primary-container: rgb(86 59 113);
  --md-sys-color-on-primary-container: rgb(240 219 255);
  --md-sys-color-secondary: rgb(208 193 218);
  --md-sys-color-on-secondary: rgb(54 44 63);
  --md-sys-color-secondary-container: rgb(77 67 86);
  --md-sys-color-on-secondary-container: rgb(237 221 246);
  --md-sys-color-tertiary: rgb(243 183 190);
  --md-sys-color-on-tertiary: rgb(75 37 42);
  --md-sys-color-tertiary-container: rgb(101 58 64);
  --md-sys-color-on-tertiary-container: rgb(255 217 221);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(21 18 24);
  --md-sys-color-on-background: rgb(232 224 232);
  --md-sys-color-surface: rgb(21 18 24);
  --md-sys-color-on-surface: rgb(232 224 232);
  --md-sys-color-surface-variant: rgb(74 69 78);
  --md-sys-color-on-surface-variant: rgb(204 196 206);
  --md-sys-color-outline: rgb(150 142 152);
  --md-sys-color-outline-variant: rgb(74 69 78);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(232 224 232);
  --md-sys-color-inverse-on-surface: rgb(51 47 53);
  --md-sys-color-inverse-primary: rgb(111 82 138);
  --md-sys-color-primary-fixed: rgb(240 219 255);
  --md-sys-color-on-primary-fixed: rgb(40 13 66);
  --md-sys-color-primary-fixed-dim: rgb(219 185 249);
  --md-sys-color-on-primary-fixed-variant: rgb(86 59 113);
  --md-sys-color-secondary-fixed: rgb(237 221 246);
  --md-sys-color-on-secondary-fixed: rgb(33 24 41);
  --md-sys-color-secondary-fixed-dim: rgb(208 193 218);
  --md-sys-color-on-secondary-fixed-variant: rgb(77 67 86);
  --md-sys-color-tertiary-fixed: rgb(255 217 221);
  --md-sys-color-on-tertiary-fixed: rgb(50 16 22);
  --md-sys-color-tertiary-fixed-dim: rgb(243 183 190);
  --md-sys-color-on-tertiary-fixed-variant: rgb(101 58 64);
  --md-sys-color-surface-dim: rgb(21 18 24);
  --md-sys-color-surface-bright: rgb(60 56 62);
  --md-sys-color-surface-container-lowest: rgb(16 13 18);
  --md-sys-color-surface-container-low: rgb(30 26 32);
  --md-sys-color-surface-container: rgb(34 30 36);
  --md-sys-color-surface-container-high: rgb(44 41 46);
  --md-sys-color-surface-container-highest: rgb(55 51 57);
}
