@mixin light-theme {
  --md-sys-color-primary: rgb(111 82 138);
  --md-sys-color-surface-tint: rgb(111 82 138);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(240 219 255);
  --md-sys-color-on-primary-container: rgb(86 59 113);
  --md-sys-color-secondary: rgb(102 90 111);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(237 221 246);
  --md-sys-color-on-secondary-container: rgb(77 67 86);
  --md-sys-color-tertiary: rgb(128 81 87);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 217 221);
  --md-sys-color-on-tertiary-container: rgb(101 58 64);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 247 254);
  --md-sys-color-on-background: rgb(30 26 32);
  --md-sys-color-surface: rgb(255 247 254);
  --md-sys-color-on-surface: rgb(30 26 32);
  --md-sys-color-surface-variant: rgb(233 223 235);
  --md-sys-color-on-surface-variant: rgb(74 69 78);
  --md-sys-color-outline: rgb(124 117 126);
  --md-sys-color-outline-variant: rgb(204 196 206);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(51 47 53);
  --md-sys-color-inverse-on-surface: rgb(246 238 246);
  --md-sys-color-inverse-primary: rgb(219 185 249);
  --md-sys-color-primary-fixed: rgb(240 219 255);
  --md-sys-color-on-primary-fixed: rgb(40 13 66);
  --md-sys-color-primary-fixed-dim: rgb(219 185 249);
  --md-sys-color-on-primary-fixed-variant: rgb(86 59 113);
  --md-sys-color-secondary-fixed: rgb(237 221 246);
  --md-sys-color-on-secondary-fixed: rgb(33 24 41);
  --md-sys-color-secondary-fixed-dim: rgb(208 193 218);
  --md-sys-color-on-secondary-fixed-variant: rgb(77 67 86);
  --md-sys-color-tertiary-fixed: rgb(255 217 221);
  --md-sys-color-on-tertiary-fixed: rgb(50 16 22);
  --md-sys-color-tertiary-fixed-dim: rgb(243 183 190);
  --md-sys-color-on-tertiary-fixed-variant: rgb(101 58 64);
  --md-sys-color-surface-dim: rgb(223 216 223);
  --md-sys-color-surface-bright: rgb(255 247 254);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(249 241 249);
  --md-sys-color-surface-container: rgb(244 235 243);
  --md-sys-color-surface-container-high: rgb(238 230 238);
  --md-sys-color-surface-container-highest: rgb(232 224 232);
}
