---
import type { GetStaticPaths } from 'astro';
import { getCollection, render } from 'astro:content';
import Layout from '../_layout.astro';

export const getStaticPaths = (async () => {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);
---

<title>{post.data.title} - rdcsq's blog</title>
<Layout>
  <article>
    <h1>{post.data.title}</h1>
    <Content />
  </article>
</Layout>
