---
import { getCollection } from 'astro:content';
import Layout from '../_layout.astro';

const allPosts = await getCollection('blog');
---

<Layout>
  <h1>blog</h1>
  {
    allPosts.sort((a, b) => (b.data.date.getUTCDate() - a.data.date.getUTCDate())).map((post) => (
      <a href={`/blog/${post.slug}`} class="no-underline">
        <section>
          <p class="text-sm text-ctp-overlay2">
            {post.data.date.getUTCFullYear()}
            {'-'}
            {post.data.date.getUTCMonth().toString().padStart(2, '0')}
            {'-'}
            {post.data.date.getDate().toString().padStart(2, '0')}
          </p>
          <h2>{post.data.title}</h2>
        </section>
      </a>
    ))
  }
</Layout>

<style>
  h2 {
    margin-top: 0;
  }
</style>
