<section class="card">
    <h2 class="text-primary mb-4 text-2xl">about me</h2>
    <p>
        hi! i'm rdcsq (username) or maple (nickname). i like to code, listen to
        music and playing (rhythm) games.
    </p>
</section>
