---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
    .slice(0, 3);
---

<section class="card">
    <h2 class="text-primary text-2xl">blog posts</h2>
    {
        posts.map((post, i) => (
            <a
                role="article"
                href={`/blog/${post.id}`}
                class:list={[
                    'border-card-outline relative flex flex-col transition-all not-last:border-b',
                    'translate-y-0 pt-4 pb-4',
                ]}
                style={`z-index: ${i + 10};`}
            >
                <div class="align-center flex flex-col items-center gap-4 sm:flex-row">
                    <Image
                        src={post.data.image}
                        alt={''}
                        class="border-card-outline rounded-lg border sm:max-w-64"
                    />
                    <div class="w-full">
                        <h3 class="text-primary text-lg">{post.data.title}</h3>
                        <p class="line-clamp-2">
                            {post.data.invisibleSummary ?? post.data.summary ?? post.body?.substring(0, 300)}
                        </p>
                        <span class="font-mono text-sm opacity-60">{`${post.data.date.getUTCFullYear()}-${(post.data.date.getUTCMonth() + 1).toString().padStart(2, '0')}-${post.data.date.getUTCDate().toString().padStart(2, '0')}`}</span>
                    </div>
                </div>
            </a>
        ))
    }
    <a class="text-primary mt-3 flex items-center gap-1" href="/blog">
        more posts
        <i class="iconify lucide--arrow-right text-sm"></i>
    </a>
</section>
