---
import Image from 'astro/components/Image.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const latestPost = posts[posts.length - 1];
---

<a href={`/blog/${latestPost.id}`}>
    <section class="card hoverable-card">
        <h2 class="text-primary mb-2 text-2xl">latest blog post</h2>
        <article class="align-center flex flex-col items-center gap-4 sm:flex-row">
            <Image
                src={latestPost.data.image}
                alt={''}
                class="border-card-outline sm:max-w-48 rounded-lg border"
            />
            <div>
                <h3 class="text-primary text-lg">
                    {latestPost.data.title}
                </h3>
                <p class="line-clamp-2">
                    {
                        latestPost.data.summary ??
                            latestPost.body?.substring(0, 300)
                    }
                </p>
            </div>
        </article>
    </section>
</a>
