---
import BaseLayout from "./_base-layout.astro";
import Sidebar from "./_sidebar.astro";
---

<BaseLayout>
  <div class="flex flex-col lg:justify-center lg:flex-row">
    <main class="p-4 flex-grow max-w-none xl:max-w-4xl xl:ml-64 prose">
      <slot />
    </main>
    <Sidebar />
  </div>
</BaseLayout>
