---
import ClientRouter from 'astro/components/ClientRouter.astro';
import NowPlaying from './_now-playing.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>rdcsq</title>
    <link
      href="https://api.fontshare.com/v2/css?f[]=satoshi@1,2&display=swap"
      rel="stylesheet"
    />
    <ClientRouter />
  </head>
  <body
    class="bg-background text-foreground max-w-4xl mx-auto my-0 p-4 flex flex-col min-h-svh"
  >
    <header
      class="flex w-full pt-2 pb-6 justify-between items-center select-none border-b border-dashed"
    >
      <a href="/" class="inline-flex items-center gap-2">
        <h1 class="font-semibold text-2xl">rdcsq</h1>
      </a>

      <nav>
        <a href="/blog">blog</a>
        <!-- <span aria-hidden="true">·</span> -->
      </nav>
    </header>
    <main class="prose max-w-none pb-8 pt-6">
      <slot />
    </main>
    <footer
      class="mt-auto py-4 gap-4 grid grid-cols-1 lg:grid-cols-[2fr_1fr] border-foreground border-t border-dashed"
    >
      <div class="select-none">
        <a
          href="https://bsky.app/profile/rdcsq.com"
          class="icon"
          target="_blank"
          aria-label="Bluesky"
        >
          <i class="i-simple-icons-bluesky" aria-details="Bluesky icon"></i>
        </a>
        <a
          href="https://github.com/rdcsq"
          class="icon"
          target="_blank"
          aria-label="GitHub"
        >
          <i class="i-simple-icons-github" aria-details="GitHub icon"></i>
        </a>
        <p class="text-sm text-ctp-subtext0 mt-2">
          made with <a href="https://astro.build" class="underline">Astro</a>
          and the <a href="https://fontshare.com" class="underline">Satoshi</a> font
        </p>
      </div>
      <section>
        <NowPlaying />
      </section>
    </footer>
    <script
      defer
      src="https://science.rdcsq.com/script.js"
      data-website-id="b894ac3e-874c-4da5-8507-d8389f51466c"
      data-domains="rdcsq.me,rdcsq.com"></script>
  </body>
</html>

<style is:global>
  :root {
    font-family: 'Satoshi', sans-serif;
    --color-background: 240deg 6% 10%;
    --color-foreground: 240deg 6% 90%;
    --color-foreground-highlight: 0deg 0% 98%;
    --color-overlay: 240deg 4% 16%;
  }

  .prose :where(p):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .prose {
    @apply text-foreground;
  }

  .prose h1,
  .prose h2,
  .prose h3 {
    @apply text-foreground-highlight font-semibold;
  }

  .prose a:not(.button-link) {
    @apply text-foreground-highlight;
  }

  .astro-code {
    @apply !bg-overlay;
  }

  .prose code {
    @apply bg-overlay rounded-md p-1 text-foreground;
  }

  .icon {
    @apply hover:bg-overlay inline-flex items-center justify-center rounded-full p-2 text-xl;
  }

  .button-link {
    @apply border-overlay hover:text-overlay inline-flex items-center gap-2 rounded-lg border px-3 py-[0.15rem] align-middle text-foreground no-underline transition-all hover:scale-[1.02] hover:bg-foreground;
  }
</style>
