---
import albumBackground from '../assets/album-placeholder.svg?url';
import { loadSong } from '../lib/now-playing';
const song = await loadSong();
---

{
    song && (
        <a
            href={song.url}
            id="now-playing-wrapper"
            target="_blank"
            rel="noopener noreferrer"
        >
            <section class="card hoverable-card">
                <h2
                    class="text-primary mb-2 text-2xl"
                    id="now-playing-card-title"
                >
                    {song.nowPlaying
                        ? 'currently listening to...'
                        : 'was listening to...'}
                </h2>
                <div>
                    <img
                        alt=""
                        aria-hidden="true"
                        class="border-card-outline inline-block aspect-square size-[4.25rem] rounded-lg border"
                        id="now-playing-artwork"
                        src={song.image || albumBackground}
                    />
                    <div class="ml-2 inline-block align-middle">
                        <p
                            class="line-clamp-1 font-bold"
                            id="now-playing-title"
                        >
                            {song.title}
                        </p>
                        <p class="line-clamp-1" id="now-playing-artist">
                            {song.artist}
                        </p>
                    </div>
                </div>
            </section>
        </a>
    )
}
