---
import NowPlaying from "./_now-playing.astro";
---

<section
  class="lg:max-w-64 w-full border-violet-400 border-dashed p-4 border-t lg:border-t-0 xl:border-r lg:border-l lg:border-b h-min"
>
  <NowPlaying />
</section>
