---
import Image from 'astro/components/Image.astro';
import pfp from './../../public/icon.webp';
import Layout from '../layouts/Layout.astro';
import BlogPosts from './_blog-posts.astro';
import AboutMe from './_about-me.astro';
import Programming from './_programming.astro';
---

<Layout>
    <div>
        <Image
            src={pfp}
            class="relative -z-10 mx-auto -mb-6 size-30 mask-linear-180 mask-linear-from-50% mask-linear-to-95%"
            alt=""
        />
        <p class="text-primary text-center text-3xl font-semibold">
            rdcsq / maple
        </p>
    </div>
    <div class="mx-auto max-w-lg">
        <p class="my-4 text-center">web and android developer</p>
        <section class="mb-8 grid w-full gap-3 sm:grid-cols-2">
            <a
                href="mailto:rdcsq@rdcsq.com"
                target="_blank"
                class="bg-primary text-on-primary hover:bg-primary-hover inline-block rounded-full p-2 text-center transition-colors"
            >
                <i class="iconify lucide--mail mr-1 align-middle"></i>
                <span style="vertical-align: middle;">rdcsq@rdcsq.com</span>
            </a>
            <a
                href="https://github.com/rdcsq"
                target="_blank"
                class="bg-primary text-on-primary hover:bg-primary-hover inline-block rounded-full p-2 text-center transition-colors"
            >
                <i class="iconify logos--github-icon mr-1 align-middle"></i>
                <span style="vertical-align: middle;">github</span>
            </a>
        </section>
    </div>
    <AboutMe />
    <BlogPosts />
    <Programming />
</Layout>
