---
import Layout from "./_layout.astro";
import Sidebar from "./_sidebar.astro";
---

<Layout>
  <div class="flex flex-col lg:flex-row">
    <main class="p-4 flex-grow">
      <p>this is some sort of personal, empty, website.</p>
    </main>
	<Sidebar />
  </div>
</Layout>
